
   
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="static\styles\styles.css">
        </style>
    </head>
    <body>
        <div class="header">
            <div class="username">Welcome, {{ username }}</div>
            <a href="{{ url_for('logout') }}" class="logout-button">Sign Out</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
         <!-- Title Image -->
    <img src="static/images/Vethathiri_maharishi.jpg" alt="Title Image" class="title-image">
        <div class="image-section"></div> <!-- Image section -->
        <div class="login-container">
            <h1>Login</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
    </html>
    